body 
{ 
	font-family:"Trebuchet MS";
	padding: 0px;
	margin: 0px;
	background-color: #EEEEEE;
}
div.header
{
	font-weight: bold;
	color: #303030;
	padding: 10px;
	background: #87e4fe;
}
.header_title { font-size: x-large; }
div.footer
{
	color: #303030;
	background-color: #87e4fe;
	font-weight: bold;
    padding: 1em;
}
div.footer a, div.header a
{
	color: #303030;
}
div.main
{
	text-align: center;
	vertical-align: top;
	padding: 2px 2px 2px 2px;
}
.menu
{
	color: #303030;
	background: #dbdbdb;
	padding: 2px 10px 2px 10px;
	width: 200px;
}
.menu hr
{
	border: solid 1px #CCCCCC;
	width: 90%;
}
.menu a, .menu ul a
{
    color: #303030;
}
div.map
{
	border: #353535 1px solid;
}

div.pagetitle
{
	font-size: x-large;
	font-weight: bold;
}

div.pagedescription
{
	text-align: left;
}

.menu ul
{
    list-style-type: none;
    list-style-image: url(list-minus.png);
    cursor: pointer;
}
ul li.plus
{
    list-style-image: url(list-plus.png);
}

.menu li ul
{
    list-style-type: circle;
    list-style-image: none;
}

.menu li ul a
{
    width: 100%;
    text-decoration: none;
}
.menu li ul a:hover
{
    text-decoration: underline;
}


.highlight, .highlight a, .highlight a:visited, .highlight a:active
{
    background-color: #404040;
    color: #fff;
}

